<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELLO</title>
</head>
<body>
    <h1>Hello, {{ username }}!</h1>
    <p>Welcome to the Hello page for {{ username }}</p>
    <p>Username is set with the <span class="text-mono">name</span> query parameter.</p>
    
    {{> nav-back-to-home}}
</body>
</html>